@model IEnumerable<Projeto1_IF2.Models.TbProfissionalResumido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePlano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrmCrn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddd2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IdCidadeNavigation.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContratoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoAcessoNavigation)
            </th>
 *@            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IdContratoNavigation.IdPlanoNavigation.Nome)
            <td> *@
            <td>
                @Html.DisplayFor(modelItem => item.NomePlano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrmCrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ddd2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            @* <td>
                <a asp-action="Edit" asp-route-id="@item.IdProfissional" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProfissional" class="btn btn-primary">Detalhes</a> |
                    @if(User.IsInRole("GerenteNutricionista")){
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                    <a asp-action="Delete" asp-route-id="@item.IdProfissional" class="btn btn-primary">Excluir</a>
                        </li>
                    </ul>
                    }
            </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProfissional" class="btn btn-sm btn-outline-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProfissional" class="btn btn-sm btn-outline-secondary">Detalhes</a>
                    @if (User.IsInRole("GerenteNutricionista") || User.IsInRole("GerenteMedico")
                                    || User.IsInRole("GerenteGeral"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdProfissional" class="btn btn-sm btn-outline-danger">Excluir</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
@* @if (Model.Count() > 1)
{
    @* <ol class="nav nav-pills">
        <li class="nav-item"> 
            <a asp-action="Delete" asp-route-id="@Model.First().IdProfissional" class="btn btn-primary"><i class="bi-alarm"></i>Delete</a>
        </li>
    </ol> 
} *@
@* @{
     @if (Model.Count() > 1)
     {
        var i = 0;
        while (i <5){
        <a asp-action="Delete" asp-route-id="@Model.First().IdProfissional" class="btn btn-primary"><i class="bi-alarm"></i>Delete</a>
        i++;
        }
     }
} *@